*{
    margin: 0;
    padding: 0;

font-family: 'Work Sans', sans-serif;
}
/* header section */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* nav starts here */
.nav-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
   
}
.nav-logo{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 25px;
   
}
.nav-logo img{
    width: 80px;
    height: 40px;
}


.nav-title{  
    font-size: 1.6rem;
    font-weight: 700;
}
.nav-items{

}
.nav-items li{
    list-style: none;
    gap: 10px;
    
}
.nav-items ul{
    display: flex;
    gap: 20px;
    color: #3C354F;
font-weight: 400;
align-items: center;
cursor: pointer;

}
.nav-title-style{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-item-list-style{
    width: 180px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
/* nav end here */
/* banner section starts */
.banner-container{
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
  
}
.banner-text{
    width: 50%;
   
   
}
.banner-img{
    width: 50%;
   
}
.banner-img img{
    width: 100%;
}
.banner-title-1{
    color: #0B0223;
font-size: 2.5rem;
font-weight: 600;
text-transform: uppercase;
padding-bottom: 5px;
}
.banner-title-2{
font-size: 5rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 10px;
}
.banner-des{
    color: #534C64;
font-size: 1rem;
font-weight: 500;
text-transform: lowercase;

}
.banner-btn-left{   
    margin-top: 25px;
padding: 12px 25px;
border-radius: 20px;
border: 0;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
cursor: pointer;
}
.banner-btn-right{
    margin-top: 25px;
    padding: 12px 35px;
    border-radius: 20px;
    border: 0;
background: #4EC5F7;
cursor: pointer;
}
/* banner section ends here */
/* section-1/online games starts here */
.online-game-title{
    color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 700;
margin-top: 50px;
padding-bottom: 10px;

}
.online-g-title-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game-des{
    color: #534C64;
text-align: center;
}
.online-games-container{
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}
.online-games-container img{
    width: 100%;
}

.play img {
    width: 50px;
    height: 50px;
    color: black;
    border: 2px solid red;
    position: relative;
    z-index: 100;
    margin: 0 0 50px 120px;
    top: -250px;
    opacity: 0;
    
}
.play img:hover  {
    opacity: 0.8;

}
.play-text{
    width: 100px;
    color: #F948B2;
    position: relative;
    top: -280px;
    left: 90px;
    border: 2px solid white;
    opacity: 0;
}
.play p:hover{
    opacity: 0.8;
}
/* its not perfect hover but i tried pls do check over picture */
/* section-1/online games ends here */
/* section-2-double-img starts here */
.play-games-container{
    max-width: 1140px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.play-g-pic{
    width: 50%;
    
}
.play-g-pic img{
    width: 70%;
    height: 100%;
}
.play-g-text{
    width: 50%;
   
}
.play-g-text-title{    
font-size: 2rem;
font-style: normal;
font-weight: 700;
padding-bottom: 20px;
}
.play-g-text-des{
    color: #534C64;
}
.small-pic{
    width: 50%;
    height: 50%;
   position: relative;
    top: -120px;
    left: 280px;
}
/* section-2/double-img ends here */
/* section-3/arcade-game starts here */
.arcade-game-container{
    max-width: 1140px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: space-around;
}
.arcade-pic{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 10px;
}
.arcade-pic:hover{
    width: 200px;
height: 60px;
    border: 2px solid rgb(241, 134, 152);
    border-radius: 50px;
background: #FFF;
color: rgb(239, 64, 64);
cursor: pointer;
}
/* section-3/arcade game section ends here */
/* footer section starts */
footer{
    margin-top: 100px;
    padding: 50px 0;
    background: black;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.footer-logo{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
.footer-logo img{
    width: 80px;
    height: 40px;
}
.footer-logo-title{
    color: #FFF;
font-size: 2.8rem;
font-weight: 700;
}
.footer-text-des{
    color: white;
    padding-bottom: 25px;
   
}
.footer-text-des li{
    list-style: none;
}
.footer-text-des ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    cursor: pointer;
}
.footer-icon li{
    list-style: none;
    color: #FFF;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}
.footer-icon ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    padding-bottom: 45px;
}
.footer-des-2{
    color: rgba(255, 255, 255, 0.60);
   
}
.footer-des-2 li{
    list-style: none;
}
.footer-des-2 ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.footer-para{
color: rgba(255, 255, 255, 0.60);
text-align: center;
padding-top: 20px;
}










/* responsive section for mobile device */

@media screen and (max-width:576px) {
    .nav-logo,.nav-container,.nav-items ul,.online-games-container,.play-games-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-title-2{
        font-size: 3rem;
    }
    .small-pic{
        top: -50px;
        left: 120px;
        
    }
    .arcade-game-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .arcade-pic{
        gap: 0;
        padding: 0 8px;
    }
    .arcade-pic img{
        width: 40%;
        height: 80%;
    }
    .footer-text-des ul{
        display: grid;
        grid-template-columns: repeat(3, 100px);
    }
    .footer-des-2 ul{
        display: grid;
        grid-template-columns: repeat(2,90px);
    }
}
/* responsive section for tablet device */

@media screen and (min-width:576px) and (max-width:972px) {
    .nav-logo,.nav-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .online-games-container{
        flex-direction: column;
    }
    .play-games-container{
        flex-direction: column;
    }
    .small-pic{
        left: 210px;
    }
    
}